body {
    font-family: 'Arial', sans-serif;
    background-color: #0a192f;
    /* Fondo oscuro */
    color: #ccd6f6;
    /* Texto claro */
}

.gradient-text {
    background: linear-gradient(45deg, #64ffda, #00a8cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    background-color: #112240;
    /* Fondo de tarjetas */
    border: 1px solid #233554;
    /* Borde sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}